<h2>Stupid Coaching</h2>

<p class="question form-control">
<%= @question %>
- You
</p>

<p class="answer form-control">
<%= @answer %>
- Your Coach
</p>

<p class="redirection">
<%= link_to "ask another question", ask_path %>
</p>
