<h2>Stupid Coaching</h2>

<p>Ask your coach anything:</p>

<form action="/answer" data-turbo="false" class="form-control">
  <input type="text" name="question" placeholder="say something to the coach">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
